:root {

    font-size: 16px;
    font-family: sans-serif;

    --background-color: #f9f9f9;
    --primary-color: #16793c;
    --secondary-color: #e0faf7;
    --accent-color: #1b6312;
    --text-color: black;

    --background-color-dark: #090206;
    --primary-color-dark: #16793c;
    --secondary-color-dark: #093933;
    --accent-color-dark: #47da34;
    --text-color-dark: white;

    --book-border-color: #ccc;
    --book-border-color--hover: #838383;
    --container-color: #838383;

    --temp: 2px solid red;
}

